@charset "utf-8";
:root{--max-width:600px;--min-width:320px;--bg-color:#f5f5f5;}
html,body{height:100%}
body{overflow:auto;font-size:14px;font-family:"Pretendard Variable",Pretendard,Apple SD Gothic Neo,sans-serif;line-height:1.5}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
ul,li{list-style:none}
a{color:#000;text-decoration:none}
a:visited{color:#000}
a:active,a:hover{text-decoration:none}
a:active{background-color:transparent}
button{border:0 none;font-family:"Pretendard Variable",Pretendard;background-color:transparent;cursor:pointer}
.img_g{display:inline-block;width:100%;vertical-align:top}
.thumb_g{overflow:hidden;width:100%;border-radius:16px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.ico_comm{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(../img/ico2.png) 0 0 no-repeat;background-size:70px 30px;text-indent:-9999px;vertical-align:top}
.ico_next{width:12px;height:23px;background-position:-40px 0;transform:scale(.5)}
.ico_top{width:12px;height:23px;background-position:-55px 0;transform:rotateZ(90deg)}
.list_tab::-webkit-scrollbar,.list_snb::-webkit-scrollbar{display:none}

.container-doc{max-width:var(--max-width);min-width:var(--min-width);margin:0 auto;box-sizing:border-box}
.inner_container{max-width:var(--max-width);min-width:var(--min-width);margin:auto}
.inner_container:before{position:fixed;top:0;bottom:0;z-index:1000;width:1px;background-color:#8a8a8a;opacity:.1;content:''}
.inner_container:after{position:fixed;top:0;bottom:0;right:50%;z-index:1000;width:1px;background-color:#8a8a8a;transform:translateX(300px);opacity:.1;content:''}
.doc-header{display:flex;justify-content:space-between;align-items:center;position:fixed;top:0;left:50%;z-index:100;width:100%;max-width:var(--max-width);padding:10px 10px 13px 15px;background-color:#fff;box-sizing:border-box;transform:translateX(-50%)}
.doc-header .inner_header{display:flex;justify-content:space-between;align-items:center;flex:1 1 calc(100% - 50px);width:calc(100% - 50px);height:40px;margin-right:8px;padding:0 12px;border-radius:5px;background-color:var(--bg-color);box-sizing:border-box}
.doc-header .inner_header .btn_txtbox{flex:1 auto;align-self:stretch;font-size:15px;color:#5d6070}
.doc-header .inner_header .btn_txtbox .txt_txtbox{display:block;overflow:hidden;padding-left:10px;text-align:left;white-space:nowrap;text-overflow:ellipsis}
.doc-header .inner_header .btn_search{display:flex;justify-content:center;align-items:center;align-self:stretch;margin-left:10px}
.doc-header .btn_header{position:relative;padding:8px}
.doc-header .btn_header i{font-size:20px}
.doc-header .btn_header .badge_new{position:absolute;left:0;bottom:0;right:0;padding:3px 5px;font-size:11px;color:#fff;border-radius:10px;background-color:#0078ff}
.doc-header .btn_header .badge_cart{display:flex;justify-content:center;align-items:center;position:absolute;bottom:0;right:0;width:10px;height:10px;padding:4px;font-size:11px;color:#fff;border-radius:50%;background-color:#0078ff}

.wrap-tab{overflow:hidden;position:fixed;top:63px;left:50%;z-index:100;width:100%;max-width:var(--max-width);padding:12px 16px;background-color:#fff;box-sizing:border-box;transform:translateX(-50%)}
.wrap-tab .list_tab{display:flex}
.wrap-tab .list_tab li{flex-shrink:0;width:52px;pointer-events:auto}
.wrap-tab .list_tab .link_tab{display:block;font-size:13px;letter-spacing:0.02em;text-align:center}
.wrap-tab .list_tab .link_tab .txt_tab{display:block;padding-top:5px;white-space:nowrap;text-overflow:ellipsis}

.section-category{display:flex;justify-content:flex-end;align-items:flex-start;overflow:hidden;position:relative;margin-top:165px}
.list_snb{flex:0 0 117px;overflow:hidden auto;position:fixed;top:165px;left:0;bottom:0;width:117px;min-height:calc(1vh * 100 - 225px);padding-bottom:calc(env(safe-area-inset-bottom) + 115px);background-color:#fff;box-sizing:border-box;}
.list_snb .link_snb{display:block;width:100%;height:36px;padding-left:15px;font-size:13px;line-height:36px}
.list_snb .link_snb[aria-selected="true"]{font-weight:bold;background-color:var(--bg-color)}
.article-panel{flex:1 1 calc(100% - 117px);overflow:hidden;padding:16px 15px 0 132px;padding-bottom:calc(env(safe-area-inset-bottom) + 115px);box-sizing:border-box;background-color:var(--bg-color)}
.article-panel .wrap_panel{display:inline-block}
.article-panel .wrap_panel .inner-panel{padding:16px 0 54px}
.article-panel .wrap_panel .link_category{display:flex;align-items:center;font-size:14px;color:#6e6e6e}
.article-panel .wrap_panel .chevron_right{flex:0 0 15px;margin-left:5px}
.article-panel .wrap_panel .list_submenu{display:inline-block;overflow:hidden;margin-top:20px;vertical-align:top}
.article-panel .wrap_panel .list_submenu li{display:block;float:left;width:calc(33.3333% - 4px);margin-right:4px}
.article-panel .wrap_panel .list_submenu li:nth-of-type(3n){margin-right:0}
.article-panel .wrap_panel .list_submenu .link_submenu{text-align:center;box-sizing:border-box}
.article-panel .wrap_panel .list_submenu .thumb_g{width:80%;margin:0 auto;border:1px solid rgba(0,0,0,.05)}
.article-panel .wrap_panel .list_submenu .img_g{background-color:#fff}
.article-panel .wrap_panel .list_submenu .txt_submenu{display:block;overflow:hidden;margin:10px 0 15px;white-space:nowrap;text-overflow:ellipsis}

.doc-footer{width:100%;padding:12px 16px 72px;box-sizing:border-box}
.wrap_nav{position:relative;height:calc(env(safe-area-inset-bottom) + 60px)}
.wrap_nav .list_nav{display:flex;position:fixed;left:0;bottom:0;right:0;z-index:500;max-width:var(--max-width);min-width:var(--min-width);margin:auto;padding-bottom:calc(env(safe-area-inset-bottom) + 0px);background-color:#000;box-sizing:border-box}
.wrap_nav .list_nav li{width:20%}
.wrap_nav .list_nav .link_nav{display:flex;flex-direction:column;align-items:center;padding:10px 0;color:#fff}
.wrap_nav .list_nav .link_nav i{margin-bottom:5px;font-size:17px}
.wrap_nav .list_nav .link_nav .txt_nav{font-size:12px}

.common_layout{display:flex;flex-direction:column;position:fixed;right:10px;bottom:calc(env(safe-area-inset-bottom) + 80px);z-index:500}
.common_layout .inner_layout{display:block;overflow:hidden;width:40px;height:40px;padding:5px;border-radius:50%;background-color:rgba(0,0,0,.1);box-sizing:border-box}
.common_layout .link_lately{position:relative;margin-top:16px;background-image:url(../img/lately.jpg);background-position:50% 50%;background-size:cover;box-shadow:rgba(0,0,0,.5)0px 2px 4px 0px}
.common_layout .link_lately::before{display:block;position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border-radius:50%;background-color:rgba(0,0,0,.1);content:''}

@media (min-width:600px){
  .list_snb{left:calc(50% - 300px)}
  .common_layout{right:50%;transform:translateX(290px)}
}

@media (max-width:480px){
  .article-panel .wrap_panel .list_submenu .txt_submenu{font-size:12px}
}